<div class="row">
  <div class="col-sm-12">
    <h1>New Article</h1>

	<%= render 'form' %>
		
	<center>
	  <%= link_to 'Back', articles_path, class: "btn btn-outline-secondary btn-lg" %>
	</center>
  </div>
</div>
