<div class="row">
	<div class="col-sm-12">
		<center>
			<a href="/articles"><button type="button" class="btn btn-outline-success btn-lg">Explore Me</button></a>
		</center>
	</div>
</div>
<p></p>
<div class="jumbotron">
	<img width="600px" src="/myblog.gif" alt="">
</div>
