<p id="notice"><%= notice %></p>
<div class="container">
	<nav class="navbar navbar-light bg-faded">
		<a class="navbar-brand" href="#">MyBlog</a>
		 <ul class="nav navbar-nav">
		 	<li class="nav-item active">
		      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		    </li>
		    <li class="nav-item">
		      <a class="nav-link" href="/articles">Articles</a>
		    </li>
		 </ul>
		 <%= form_tag(articles_path, :method => "get", id: "search-form", class: "form-inline pull-xs-right") do %>
			<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Articles" %>
			<%= submit_tag "Search", class: "btn btn-outline-success" %>
		 <% end %>		 
	</nav>
	<p></p>
	<div class="jumbotron">
		<h1>MyBlog</h1>
		<h3>My first example ruby and rails for CoderSchool</h3>
		
	</div>
	<div class="jumbotron">
		<img width="600px" src="http://www.cockos.com/licecap/licecap_rules.gif" alt="">
	</div>

	<div class="row">
		<div class="col-sm-12">
			<center>
				<a href="/articles"><button type="button" class="btn btn-outline-success btn-lg">Explore Me</button></a>
			</center>
		</div>
	</div>
</div>
